/* doc/src/sgml/stylesheet.css */
/* Insert the css reset because the css is rewritten. */
{}
/* color scheme similar to www.postgresql.org */

@media screen and (min-width: 641px) {
    body > * {
	width: 90%;
	margin: auto	!important;
	display: block;
	text-align: left;
    }
}

body {
	color: #000000;
	background: #FFFFFF;
	font-family: verdana, sans-serif;
}

a:link		{ color:#0066A2; }
a:visited	{ color:#004E66; }
a:active	{ color:#0066A2; }
a:hover		{ color:#000000; }

p i, pre i, .emphasis em {
	font-style: normal;
	font-weight: bold;
	color: #440000;
}
not([href]) code {
	font-weight: bold;
	color: #440000;
}

.replaceable code {
	font-style: italic;
}

pre strong {
        white-space: nowrap;
}

p span, pre span, p acronym, pre acronym {
	font-style: normal;
	color: #440000;
}

p tt, pre tt {
	font-family: monospace;
	color: #440000;
}

h1 {
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
	color: #EC5800;
}

h2 {
	font-size: 1.3em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #EC5800;
}

.titlepage h2.title,
.refnamediv h2 {
	color: #EC5800;
}

h3 {
	font-size: 1.2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #EC5800;
}

.tip h3, .note h3, .caution h3, .warning h3 {
        text-align: center;
}

h4 {
	font-size: 0.95em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
	font-weight: bold;
	color: #EC5800;
}

h5 {
	font-size: 0.9em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

h6 {
	font-size: 0.85em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

p {
	line-height: 1.3;
}

/* center some titles */

.book .title, .book .corpauthor, .book .copyright {
	text-align: center;
}

/* decoration for formal examples */

div.example {
	padding-left: 15px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: black;
	margin: 0.5ex;
}

/* formatting for entries in tables of functions: indent all but first line */

th.func_table_entry p,
td.func_table_entry p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding-left: 4em;
	text-align: left;
}

p.func_signature {
	text-indent: -3.5em;
}

td.func_table_entry pre.programlisting {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding-left: 4em;
}

/* formatting for entries in tables of catalog/view columns */

th.catalog_table_entry p,
td.catalog_table_entry p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding-left: 4em;
	text-align: left;
}

th.catalog_table_entry p.column_definition {
	text-indent: -3.5em;
	word-spacing: 0.25em;
}

td.catalog_table_entry p.column_definition {
	text-indent: -3.5em;
}

p.column_definition code.type {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

td.catalog_table_entry pre.programlisting {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding-left: 4em;
}

/* Put these here instead of inside the HTML (see unsetting of
   admon.style in XSL) so that the web site stylesheet can set its own
   style. */

.tip,
.note,
.important,
.caution,
.warning {
	margin: 4ex auto;
	margin-top: 4ex;
	margin-right: auto;
	margin-bottom: 4ex;
	margin-left: auto;
	border-color: #DBDBCC;
	background-color: #EEEEDD;
	padding: 14px;
	width: 572px;
}

/* miscellaneous */

pre.literallayout, .screen, .synopsis, .programlisting {
	margin-left: 4ex;
	border-color: #CFCFCF;
	background-color: #F7F7F7;
	color: #000;
	border-width: 1px;
	border-style: solid;
	padding: 2ex;
	margin: 2ex 0px 2ex 2ex;
	overflow: auto;
	border-radius: 8px;
}

/* shadow */

pre.literallayout, pre.screen, pre.synopsis, pre.programlisting, div.note, div.tip, table.caution, table.calstable, table.warning, div.blockquote, .informaltable table, .table-contents table {
	box-shadow: 3px 3px 5px #DFDFDF;
}

/* Table Styles */

.table-contents table,
.informaltable table {
	border-spacing: 0;
	border-collapse: collapse;
}

.table-contents table,
.informaltable table {
	margin: 2ex 0 2ex 2ex;
	background-color: #E0ECEF;
	border: 2px solid #A7C6DF;
}

div.warning {
	background-color: #FFD7D7;
	border-color: #DF421E;
}

.table-contents table td {
	background-color: #FFF;
}

.table-contents table, .table-contents td, .table-contents th{
	border: 1px solid #a7c6df;
	padding: 0.5ex 0.5ex;
}

.table-contents table td,
.table-contents table th,
.informaltable table td,
.informaltable table th,
table.CALSTABLE td,
table.CALSTABLE th {
	border: 1px solid #a7c6df;
	padding: 0.5ex 0.5ex;
}

.table-contents table tr:nth-child(odd) td,
.informaltable table tr:nth-child(odd) td {
	background-color: #FFFFFF;
}

.table-contents table tr:nth-child(even) td,
.informaltable table tr:nth-child(even) td {
	background-color: #EFEFEF;
}
.table-contents table tr:hover td,
.informaltable table tr:hover td tr:hover td {
	background-color: #FFEEEE;
}

td.c1,
td.c2,
td.c3,
td.c4,
td.c5,
td.c6 {
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: 0 solid #ffefef;
	padding: 1ex 2ex 0;
}

table.simplelist {
	border-collapse: collapse;
}
table.simplelist th, table.simplelist td {
	border: 1px solid #ccc;
	padding: 10px;
}

.original {
	display: block;
	color: #008800;
}

.actions {
	font-size: 65%;
}

ul.itemizedlist {
	margin-left: 2.5rem;
}

.comment	{ color: red; }

var		{ font-family: monospace; font-style: italic; }
/* Konqueror's standard style for ACRONYM is italic. */
acronym		{ font-style: inherit; }

.option		{ white-space: nowrap; }

/* make images not too wide on larger screens */
@media (min-width: 800px) {
  .mediaobject {
    width: 75%;
  }
}

.other_version {
	top:0em;
	right:5%;
	float: right;
	margin-top: -0.2em;
	margin-bottom: 0.5em;
	width: auto;
	padding: 0.4em 1em;
	border: solid 1px #e0e0e0;
	border-radius: 0.5em;
	background: #f3f3f3;
	background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
	background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
	background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
	background-image: linear-gradient(#fbfbfb, #ebebeb);
	box-shadow: 0 3px 8px -3px #000;
}